<div style="height: {{param['height']}}px; width: {{param['width']}}px; background-color: rgba(255,0,0,0.1);
  align: center;">

  <div style="align:center; background-image: url({{param['img_url']}}); height: 100%; background-size: cover;">
    <div style="vertical-align: top;height: 50%; width">

            <h1 style="text-align:center;color: white;">{{param['head']}}</h1>
    </div>
    <!-- <div style="vertical-align: text-bottom;height: 30%;">
    </div> -->

    <div style="vertical-align: bottom; height: 50%;">
          <h2 style="text-align:center; vertical-align: bottom; color: white;">{{param['tail']}}
          </h2>
    </div>

  </div>
</div>
