<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Dynamic Test Environment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
</head>

<body id="index" class="home">

  {% if vars|length < 5 %}

    <form action='/' method="get">

      <div class="form-group">
        <input type="text" class="form-control" name="height" placeholder="height">

        <input type="text" class="form-control" name="width" placeholder="width">

      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="lat" placeholder="lat">

        <input type="text" class="form-control" name="lon" placeholder="lon">

      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="years" placeholder="years">
      </div>

    {% endif %}




  {% if vars|length == 5 %}

    <form action='/' method="get">

      <div class="form-group">
        <input type="text" class="form-control" name="height" value="{{vars[3]}}">

        <input type="text" class="form-control" name="width" value="{{vars[4]}}">

      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="lat" value="{{vars[0]}}">

        <input type="text" class="form-control" name="lon" value="{{vars[1]}}">

      </div>
      <div class="form-group">

        <input type="text" class="form-control" name="years" value="{{vars[2]}}">
      </div>



    {% endif %}


    {% for topic in topics %}
    <div>
      <label class="checkbox">
        {% if topic in issues %}
        <input type="checkbox" name="{{ topic }}" value="1" checked> {{topic}} </>
        {% else %}
        <input type="checkbox" name="{{ topic }}" value="1"> {{topic}} </>
        {% endif %}
      </label>
    </div>
    {% endfor %}

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>





<form action='/new_message' method="post">
<table>
  {% for param in params %}
  <tr>
    <td>
      {% include 'jsontemplate.html' %}
      {{param}}
    </td>
    <td>
      Change the language on this ad?
      <br>
      <input type="text" class="form-control" name="new_head" size="80">
      <br>

      {% for p in param %}

        <input id="{{p}}" name="{{p}}" type="hidden" value="{{param[p]}}">

      {% endfor %}
      <button type="submit" class="btn btn-primary">Update Message</button>
    </td>

  </tr>
  {% endfor %}
  <tr>
    <td>
    </td>
    <td>
      <button type="submit" class="btn btn-primary">Update All Messages</button>
    </td>
</table>


</form>


</body>
</html>
